// http://www.json.org/json-en.html
{
  "profiles": [
    {
	  "label": "sample-label",
	  "host": "sample-url",
	  "database": "sample-db",
	  "user": "sample-user",
	  "password": "sample-password",
	  "jdbc": {
	    "url": "jdbc:mysql://${host}/${database}",
	    "file": "configuration/jdbc/mysql-connector-java-5.1.17-bin.jar",
	    "driver": "com.mysql.jdbc.Driver"
	  }
	}
  ]
}