<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<!--  Workflow Editor -->
	<extension point="org.eclipse.ui.editors">
		<editor class="de.rcenvironment.rce.gui.workflow.editor.WorkflowEditor"
            contributorClass="de.rcenvironment.rce.gui.workflow.editor.WorkflowEditorActionBarContributor"
			default="true" 
			filenames="*.wf" 
			icon="resources/icons/workflow16.gif"
			id="de.rcenvironment.rce.gui.workflow.editor.WorkflowEditor" 
			name="Workflow Editor">
		</editor>
  <editor
        class="de.rcenvironment.rce.gui.workflow.view.ReadOnlyWorkflowRunEditor"
        default="false"
        filenames="*.wfr"
        icon="resources/icons/workflow16.gif"
        id="de.rcenvironment.rce.gui.workflow.editor.WorkflowRunEditor"
        name="Workflow Viewer">
  </editor>
	</extension>
	
	<!--  Preference Page -->
	<extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="de.rcenvironment.rce.gui.workflow.editor.UpateWorkflowFileAutomaticallyPreferencesPage"
            id="de.rcenvironment.rce.gui.workflow.editor.UpateWorkflowFileAutomaticallyPreferencesPage"
            name="Workflows"
            category="de.rcenvironment.rce">
      </page>
   </extension>

	<!--  New Workflow Dialog -->
	<extension point="org.eclipse.ui.newWizards">
		<wizard id="de.rcenvironment.rce.gui.workflow.wizard" name="Workflow"
			category="de.rcenvironment.rce" icon="resources/icons/workflow16.gif"
			class="de.rcenvironment.rce.gui.workflow.editor.NewWorkflowWizard">
			<description>
				Creates a new Workflow file
            </description>
			<selection class="org.eclipse.core.resources.IResource" />
		</wizard>
	</extension>

	<!--  New Workflow Dialog Context Menu -->
	<extension point="org.eclipse.ui.navigator.navigatorContent">
		<commonWizard type="new"
			wizardId="de.rcenvironment.rce.gui.workflow.wizard" menuGroupId="de.rcenvironment.rce">
			<enablement>
				<or>
					<adapt type="org.eclipse.core.resources.IFolder" />
					<adapt type="org.eclipse.core.resources.IProject" />
					<adapt type="org.eclipse.core.resources.IWorkspaceRoot" />
				</or>
			</enablement>
		</commonWizard>
	</extension>
	
	<!-- Tabbed Properties in Workflow Editor -->
	<extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor 
      		contributorId="de.rcenvironment.rce.gui.workflow.editor.WorkflowEditor"
            labelProvider="de.rcenvironment.rce.gui.workflow.editor.properties.WorkflowLabelProvider">
         <propertyCategory category="default"/>
         <propertyCategory category="advanced"/>
      </propertyContributor>
      <propertyContributor 
      		contributorId="de.rcenvironment.rce.gui.workflow.editor.WorkflowRunEditor"
            labelProvider="de.rcenvironment.rce.gui.workflow.editor.properties.WorkflowLabelProvider">
         <propertyCategory category="default"/>
         <propertyCategory category="advanced"/>
      </propertyContributor>
    </extension>
             
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="de.rcenvironment.rce.gui.workflow.editor.WorkflowEditor">
         <propertyTab
               label="%advanced"
               category="advanced"
               id="workflow.editor.tab.Advanced">
         </propertyTab>
      </propertyTabs>
      <propertyTabs
            contributorId="de.rcenvironment.rce.gui.workflow.editor.WorkflowRunEditor">
         <propertyTab
               label="%inputs"
               category="default"
               id="workflow.editor.run.tab.Inputs">
         </propertyTab>
         <propertyTab
               label="%inputs"
               category="default"
               id="workflow.editor.run.tab.ComponentInputs">
         </propertyTab>
         <propertyTab
               label="%general"
               category="default"
               id="workflow.editor.run.tab.General"
               afterTab="workflow.editor.run.tab.ComponentInputs">
         </propertyTab>
      </propertyTabs>
   </extension>
   
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="de.rcenvironment.rce.gui.workflow.editor.WorkflowEditor">
         <propertySection
               tab="workflow.editor.tab.Advanced"
               class="de.rcenvironment.rce.gui.workflow.editor.properties.WorkflowNodePropertiesSection"
               id="workflow.editor.tab.Advanced.Section"
               filter="de.rcenvironment.rce.gui.workflow.editor.properties.WorkflowNodeSelectedFilter"
               enablesFor="1">
         </propertySection>
      </propertySections>
      <propertySections
            contributorId="de.rcenvironment.rce.gui.workflow.editor.WorkflowRunEditor">
         <propertySection
               tab="workflow.editor.run.tab.Inputs"
               class="de.rcenvironment.rce.gui.workflow.view.properties.InputSection"
               id="workflow.editor.run.tab.Inputs.Section"
               filter="de.rcenvironment.rce.gui.workflow.editor.properties.WorkflowSelectedFilter"
               enablesFor="1">
         </propertySection>
         <propertySection
               tab="workflow.editor.run.tab.ComponentInputs"
               class="de.rcenvironment.rce.gui.workflow.view.properties.ComponentInputSection"
               id="workflow.editor.run.tab.ComponentInputs.Section"
               filter="de.rcenvironment.rce.gui.workflow.editor.properties.WorkflowNodeSelectedFilter"
               enablesFor="1">
         </propertySection>
         <propertySection
               tab="workflow.editor.run.tab.General"
               class="org.eclipse.ui.views.properties.tabbed.AdvancedPropertySection"
               id="workflow.editor.tab.General.Section"
               filter="de.rcenvironment.rce.gui.workflow.editor.properties.WorkflowNodeSelectedFilter"
               enablesFor="1">
         </propertySection>
      </propertySections>
   </extension>
   
	<!-- Properties View part of Default Perspective -->
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="de.rcenvironment.rce">
         <view
               id="org.eclipse.ui.views.PropertySheet"
               relationship="stack"
               relative="de.rcenvironment.rce.Perspective.bottom">
         </view>
	  </perspectiveExtension>
   </extension>
   
	<!-- Workflow List View -->
	<extension point="org.eclipse.ui.views">
		<view  
			allowMultiple="false"
			category="de.rcenvironment.rce"
			name="Workflow List"
			icon="resources/icons/workflow16.gif" 
			class="de.rcenvironment.rce.gui.workflow.view.list.WorkflowListView"
			id="de.rcenvironment.gui.workflowList"/>
	</extension>
	
    <extension point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension targetID="de.rcenvironment.rce">
			<view id="de.rcenvironment.gui.workflowList" relationship="stack"
				relative="de.rcenvironment.rce.Perspective.bottom">
			</view>
		</perspectiveExtension>
	</extension>

	<!-- Workflow Console View -->
	<extension point="org.eclipse.ui.views">
		<view  
			allowMultiple="false"
			category="de.rcenvironment.rce"
			name="Workflow Console"
			icon="resources/icons/console_16.png" 
			class="de.rcenvironment.rce.gui.workflow.view.console.ConsoleView"
			id="de.rcenvironment.gui.WorkflowComponentConsole"/>
	</extension>
	
    <extension point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension targetID="de.rcenvironment.rce">
			<view id="de.rcenvironment.gui.WorkflowComponentConsole" relationship="stack"
				relative="de.rcenvironment.rce.Perspective.bottom">
			</view>
		</perspectiveExtension>
	</extension>
		
   <!-- Monitoring Extension Point -->
   <extension-point 
   		id="de.rcenvironment.rce.gui.workflow.monitoring"
   		name="Component Monitoring" 
   		schema="resources/de.rcenvironment.rce.gui.workflow.monitoring.exsd"/>
   <extension-point
   		id="de.rcenvironment.rce.gui.workflow.editorActions"
   		name="Workflow Editor Actions"
   		schema="resources/de.rcenvironment.rce.gui.workflow.editorActions.exsd"/>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="%executeWorkflowCategoryDescription"
            id="de.rcenvironment.rce.gui.workflow.execution"
            name="%executeWorkflowCategoryName">
      </category>
      <command
            categoryId="de.rcenvironment.rce.gui.workflow.execution"
            description="%executeWorkflowDescription"
            id="de.rcenvironment.rce.gui.workflow.execute"
            name="%executeWorkflowName">
      </command>
      <command
            id="de.rcenvironment.rce.gui.workflow.node.copy"
            name="copy">
      </command>
      <command
            id="de.rcenvironment.rce.gui.workflow.node.cut"
            name="cut">
      </command>
      <command
            id="de.rcenvironment.rce.gui.workflow.node.paste"
            name="paste">
      </command>
      <command
            id="de.rcenvironment.rce.gui.workflow.node.rename"
            name="rename">
      </command>
      <command
            id="de.rcenvironment.rce.gui.workflow.connectioneditor"
            name="connectioneditor">
      </command>
      <command
            categoryId="de.rcenvironment.rce.gui.workflow.execution"
            defaultHandler="de.rcenvironment.rce.gui.workflow.execute.SuspendWorkflowHandler"
            description="%suspendWorkflowDescription"
            id="de.rcenvironment.rce.gui.workflow.suspend"
            name="%suspendWorkflowName">
      </command>
      <command
            categoryId="de.rcenvironment.rce.gui.workflow.execution"
            defaultHandler="de.rcenvironment.rce.gui.workflow.execute.ResumeWorkflowHandler"
            description="%resumeWorkflowDescription"
            id="de.rcenvironment.rce.gui.workflow.resume"
            name="%resumeWorkflowName">
      </command>
      <command
            categoryId="de.rcenvironment.rce.gui.workflow.execution"
            defaultHandler="de.rcenvironment.rce.gui.workflow.execute.CancelWorkflowHandler"
            description="%cancelWorkflowDescription"
            id="de.rcenvironment.rce.gui.workflow.cancel"
            name="%cancelWorkflowName">
      </command>
      <command
            categoryId="de.rcenvironment.rce.gui.workflow.execution"
            defaultHandler="de.rcenvironment.rce.gui.workflow.execute.DisposeWorkflowHandler"
            description="%disposeWorkflowDescription"
            id="de.rcenvironment.rce.gui.workflow.dispose"
            name="%disposeWorkflowName">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="de.rcenvironment.rce.gui.workflow.execute"
               disabledIcon="resources/icons/run_disabled.gif"
               icon="resources/icons/run_enabled.gif"
               label="%executeWorkflowLabel"
               style="push"
               tooltip="%executeWorkflowTooltip">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?before=additions">
       <command
               commandId="de.rcenvironment.rce.gui.workflow.node.copy"
               icon="resources/icons/copy.gif"
               label="%copy"
               style="push">
         </command>
         <command
               commandId="de.rcenvironment.rce.gui.workflow.node.cut"
               icon="resources/icons/cut.gif"
               label="%cut"
               style="push">
         </command>
         <command
               commandId="de.rcenvironment.rce.gui.workflow.node.paste"
               icon="resources/icons/paste.gif"
               label="%paste"
               style="push">
         </command>
         <command
               commandId="de.rcenvironment.rce.gui.workflow.node.rename"
               icon="resources/icons/rename.gif"
               label="%rename"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.delete"
               icon="resources/icons/delete.gif"
               label="%delete"
               style="push">
         </command>
         <command
               commandId="de.rcenvironment.rce.gui.workflow.connectioneditor"
               label="%connectioneditor"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="de.rcenvironment.rce.gui.workflow.execution.toolbar">
            <command
                  commandId="de.rcenvironment.rce.gui.workflow.execute"
                  disabledIcon="resources/icons/run_disabled.gif"
                  icon="resources/icons/run_enabled.gif"
                  label="%executeWorkflowLabel"
                  style="push"
                  tooltip="%executeWorkflowTooltip">
               <visibleWhen
                     checkEnabled="false">
                  <or>
                     <reference
                           definitionId="workflowSelected">
                     </reference>
                     <reference
                           definitionId="workflowContext">
                     </reference>
                  </or>
               </visibleWhen>
            </command>
            <command
                  commandId="de.rcenvironment.rce.gui.workflow.suspend"
                  disabledIcon="resources/icons/suspend_disabled.gif"
                  icon="resources/icons/suspend_enabled.gif"
                  label="%suspendWorkflowLabel"
                  style="push"
                  tooltip="%suspendWorkflowTooltip">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="workflowContext">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="de.rcenvironment.rce.gui.workflow.resume"
                  disabledIcon="resources/icons/resume_disabled.gif"
                  icon="resources/icons/resume_enabled.gif"
                  label="%resumeWorkflowLabel"
                  style="push"
                  tooltip="%resumeWorkflowTooltip">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="workflowContext">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="de.rcenvironment.rce.gui.workflow.cancel"
                  disabledIcon="resources/icons/cancel_disabled.gif"
                  icon="resources/icons/cancel_enabled.gif"
                  label="%cancelWorkflowLabel"
                  style="push"
                  tooltip="%cancelWorkflowTooltip">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="workflowContext">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="de.rcenvironment.rce.gui.workflow.dispose"
                  icon="resources/icons/trash_16.gif"
                  label="%disposeWorkflowLabel"
                  style="push"
                  tooltip="%disposeWorkflowTooltip">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="workflowContext">
                  </reference>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.rcenvironment.rce.gui.workflow.execute.ShowWorkflowExecutionWizardHandler"
            commandId="de.rcenvironment.rce.gui.workflow.execute">
         <enabledWhen>
            <reference
                  definitionId="workflowSelected">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="de.rcenvironment.rce.gui.workflow.editor.handlers.WorkflowNodeCopyHandler"
            commandId="de.rcenvironment.rce.gui.workflow.node.copy">
         <enabledWhen>
            <reference
                  definitionId="workflowNodeSelected">
            </reference>
         </enabledWhen>
         <visibleWhen>
            <reference
                  definitionId="workflowNodeContext">
            </reference>
         </visibleWhen>
      </handler>
      <handler
            class="de.rcenvironment.rce.gui.workflow.editor.handlers.WorkflowNodeCutHandler"
            commandId="de.rcenvironment.rce.gui.workflow.node.cut">
         <enabledWhen>
            <reference
                  definitionId="workflowNodeSelected">
            </reference>
         </enabledWhen>
         <visibleWhen>
            <reference
                  definitionId="workflowNodeContext">
            </reference>
         </visibleWhen>
      </handler>
      <handler
            class="de.rcenvironment.rce.gui.workflow.editor.handlers.WorkflowNodePasteHandler"
            commandId="de.rcenvironment.rce.gui.workflow.node.paste">
         <enabledWhen>
            <reference
                  definitionId="workflowEditorContext">
            </reference>
         </enabledWhen>
         <visibleWhen>
            <reference
                  definitionId="workflowNodeContext">
            </reference>
         </visibleWhen>
      </handler>
      <handler
            class="de.rcenvironment.rce.gui.workflow.editor.handlers.WorkflowNodeRenameHandler"
            commandId="de.rcenvironment.rce.gui.workflow.node.rename">
         <enabledWhen>
            <reference
                  definitionId="workflowNodeSelected">
            </reference>
         </enabledWhen>
         <visibleWhen>
            <reference
                  definitionId="workflowNodeContext">
            </reference>
         </visibleWhen>
      </handler>
      <handler
            class="de.rcenvironment.rce.gui.workflow.editor.handlers.WorkflowNodeDeleteHandler"
            commandId="org.eclipse.ui.edit.delete">
         <enabledWhen>
            <reference
                  definitionId="workflowNodeSelected">
            </reference>
         </enabledWhen>
         <visibleWhen>
            <reference
                  definitionId="workflowNodeContext">
            </reference>
         </visibleWhen>
      </handler>
      <handler
            class="de.rcenvironment.rce.gui.workflow.editor.handlers.OpenConnectionEditorHandler"
            commandId="de.rcenvironment.rce.gui.workflow.connectioneditor">
         <enabledWhen>
            <reference
                  definitionId="workflowEditorContext">
            </reference>
         </enabledWhen>
         <visibleWhen>
            <reference
                  definitionId="workflowEditorContext">
            </reference>
         </visibleWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="workflowSelected">
	       <or>
	            <with
	                  variable="activeEditorId">
	               <equals
	                     value="de.rcenvironment.rce.gui.workflow.editor.WorkflowEditor">
	               </equals>
	            </with>
             <and>
                <with
                      variable="selection">
                   <iterate
                         ifEmpty="false">
                      <instanceof
                            value="org.eclipse.core.resources.IFile">
                      </instanceof>
                      <test
                            property="org.eclipse.core.resources.extension"
                            value="wf">
                      </test>
                   </iterate>
                </with>
                <with
                      variable="selection">
                   <count
                         value="1">
                   </count>
                </with>
             </and>
	       </or>
      </definition>
      <definition
            id="workflowContext">
         <or>
             <with
                   variable="activeEditorId">
                 <equals value="de.rcenvironment.rce.gui.workflow.editor.WorkflowRunEditor">
                </equals>
             </with>
          <with
                variable="selection">
             <iterate
                   ifEmpty="false"
                   operator="or">
                <instanceof
                      value="de.rcenvironment.rce.component.workflow.WorkflowInformation">
                </instanceof>
             </iterate>
          </with>
         </or>
      </definition>
      <definition
            id="workflowEditorContext">
         <with
               variable="activePartId">
             <equals value="de.rcenvironment.rce.gui.workflow.editor.WorkflowEditor">
            </equals>
         </with>
      </definition>
      <definition
            id="workflowNodeSelected">
        <and>
			<with
	            variable="selection"> 
	        <iterate
	        	operator="or">
	            <instanceof
	            	value="de.rcenvironment.rce.gui.workflow.parts.WorkflowNodePart">
	            </instanceof>
			</iterate>
			</with>
			<with
	        	variable="selection">
	            <count
	            	value="1">
	            </count>
			</with>
        </and>
      </definition>
      <definition
            id="workflowNodeContext">
        <and>
			<with
              	variable="activeEditorId">
	               <equals
	                     value="de.rcenvironment.rce.gui.workflow.editor.WorkflowEditor">
	               </equals>
            </with>
        </and>
      </definition>
   </extension>
   <extension
         id="de.rcenvironment.rce.gui.workflow.keybinding.execute"
         point="org.eclipse.ui.bindings">
      <key
            commandId="de.rcenvironment.rce.gui.workflow.execute"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+X">
      </key>
   </extension>
   <extension
         id="de.rcenvironment.rce.gui.workflow.keybinding.workflow.node.edit"
         point="org.eclipse.ui.bindings">
      <key
            commandId="de.rcenvironment.rce.gui.workflow.node.copy"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+C">
      </key>
      <key
            commandId="de.rcenvironment.rce.gui.workflow.node.cut"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+X">
      </key>
      <key
            commandId="de.rcenvironment.rce.gui.workflow.node.paste"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+V">
      </key>
      <key
            commandId="de.rcenvironment.rce.gui.workflow.node.rename"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+F2">
      </key>
   </extension>
   <extension
         id="de.rcenvironment.rce.gui.workflow.keybinding.workflow.edit"
         point="org.eclipse.ui.bindings">
      <key
            commandId="de.rcenvironment.rce.gui.workflow.connectioneditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+C">
      </key>
   </extension>
   
   <!-- Workflow Node Validators -->
   <extension-point id="de.rcenvironment.rce.gui.workflow.nodeValidators" name="Workflow Node Validators" schema="schema/de.rcenvironment.rce.gui.workflow.nodeValidators.exsd"/>
</plugin>
